[submodule "backend"]
	path = backend
	url = https://github.com/yogimathius/freeflow-api-reimagined.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/yogimathius/freeflow-next.git
